
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script  type="text/javascript" src="js/tasks.js">
<script type="text/javascript" src="js/timer.js">
</body>

</html>