<!DOCTYPE html>
<html>
<head>
	<title>Notebook</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   <script src="https://kit.fontawesome.com/8dd2c9b56a.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


	<link rel="stylesheet" type="text/css" href="css/notebook.css">

</head>
<body>
	<div class="ui menu">
  		<div class="header item"> Notebook</div>
  		<a class="item" href="/">Register</a>
      <a class="item" href="/login">Login</a>
      <a class="item" href="/logout">Logout</a>
      <a class="item" href="/tasks">Task List</a>
      <a class="item" href="/notes">Notes</a>
      <a class="item" href="/timer">Timer</a>

  </div>


      <!--<div class="ui item search">
  <input class="prompt" type="text" placeholder="Common passwords...">
  <div class="results"></div>
</div>-->
  </div>
  
</body>
</html>