<% include ./partials/header %>
<div class="container dmodel">
<h1 class="welcome">Notebook</h1>
<div class="tablet">
	<ul class="list">
		<li class="notetop">Tasks</li>
		<li>
			<input type="text" class="textedit" placeholder="Enter a task...">
		</li>
		<li>Test Task 1<span><i class="far fa-times-circle"></i> </span></li>
		<li>Test Task 2<span><i class="far fa-times-circle"></i> </span></li>
	</ul>

</tablet>
<script  type="text/javascript" src="js/tasks.js"


<% include ./partials/footer %>