<% include ./partials/header %>
<div class ="maintime">
<input type="number" id="hour" placeholder="hours" min=0> <h1 id="colon">:</h1>
<input type="number" id="min" placeholder="minutes" min=0>
<br>
<button class=" ui green submit button">Start</button>
<button class= "ui yellow submit button">Pause </button>
<button class= "ui red submit button">Clear </button>
</div>
<% include ./partials/footer %>